export(readDVI, DVIspecials, setDVIspecials, patchDVI, SweaveMiktex,
       SweavePDFMiktex, patchSynctex, SweaveDVI, SweavePDF, SweaveDVIPDFM,
       SweaveAll, patchLog, defSconcordance, useknitr,
       knitMiktex,
       knitPDFMiktex, knitDVI, knitPDF, knitDVIPDFM,
       knitAll, knitInRStudio,
       renderMiktex,
       renderPDFMiktex, renderDVI, renderPDF, renderDVIPDFM,
       renderAll,
       needsPackages)

export(html_documentC,
       html_vignetteC,
       pdf_documentC,
       pdf_with_patches,
       html_with_concordance)

useDynLib(patchDVI, .registration = TRUE, .fixes = "C_")

importFrom(tools, sans_ext = file_path_sans_ext)
importFrom(utils, Sweave, Stangle, file_test,
                  install.packages, update.packages)
importFrom(tools, vignetteEngine)
importFrom(RmdConcord,
           html_documentC,
           html_vignetteC,
           html_with_concordance,
           pdf_documentC0,
           pdf_with_concordance,
           processLatexConcordance)

