export(readDVI, DVIspecials, setDVIspecials, patchDVI, SweaveMiktex, 
       SweavePDFMiktex, patchSynctex, SweaveDVI, SweavePDF, SweaveDVIPDFM, 
       SweaveAll, patchLog, defSconcordance, useknitr,
       knitMiktex, 
       knitPDFMiktex, knitDVI, knitPDF, knitDVIPDFM, 
       knitAll, knitInRStudio,
       needsPackages)
export(processConcordance,
       html_document_with_concordance,
       html_vignette_with_concordance,
       html_with_concordance,
       pdf_document_with_concordance,
       pdf_with_concordance)

useDynLib(patchDVI, .registration = TRUE, .fixes = "C_")

importFrom(rmarkdown, html_document, html_vignette, pdf_document)
importFrom(tools, sans_ext = file_path_sans_ext)
importFrom(utils, Sweave, Stangle, file_test,
                  install.packages, update.packages)
importFrom(tools, vignetteEngine)
if (getRversion() >= "4.3.0") {
  importFrom(tools, as.Rconcordance)
  importFrom(tools, matchConcordance)
} else {
  importFrom(backports, as.Rconcordance)
  importFrom(backports, matchConcordance)
}
