export(readDVI, DVIspecials, setDVIspecials, patchDVI, SweaveMiktex,
       SweavePDFMiktex, patchSynctex, SweaveDVI, SweavePDF, SweaveDVIPDFM,
       SweaveAll, patchLog, defSconcordance, useknitr,
       knitMiktex,
       knitPDFMiktex, knitDVI, knitPDF, knitDVIPDFM,
       knitAll, knitInRStudio,
       renderMiktex,
       renderPDFMiktex, renderDVI, renderPDF, renderDVIPDFM,
       renderAll,
       needsPackages)

export(pdf_documentC,
       pdf_with_patches)

useDynLib(patchDVI, .registration = TRUE, .fixes = "C_")

importFrom(tools, sans_ext = file_path_sans_ext)
importFrom(utils, Sweave, Stangle, file_test,
                  install.packages, update.packages)
importFrom(tools, vignetteEngine)

